body {
  background-color: #1e1e1e;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans'
}

a {
  color: #BD3131;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #932525;
}

a:visited {
  color: #BD3131;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  width: 1440px;
  margin: 0 auto;
}

.sponsor {
  background-color: #B5A484;
  width: 100%;
  text-align: center;
  font-size: 13px;
  padding: 4px;
}

.navBar-container li {
  display: flex;
  text-decoration: none;
}

.navBar-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  max-height: 40px;
}

.logo-btn {
  font-family: 'Open Sans semibold', sans-serif;
  color: #B5A484;
  border: 2px solid #B5A484;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
  font-size: 14px;
}

.logo-btn:hover {
  background-color: #B5A484;
  color: #1e1e1e;
  border-color: #696254;
}

.social-media-icons {
  font-size: 25px;
  color: #B5A484;
  transition: all 0.4s ease-in-out;
}

.social-media-icons:hover {
  color: #d2d2d2;
}

.fb-icon {
  padding-right: 15px;
}

.mainIntro-container {
  background-image: url('photography/www.knobcreek.com-1293609732325191.jpg');
  height: 850px;
  background-position: center;
  background-size: cover;
  display: flex;
}

.introText {
  color: white;
  font-size: 70px;
  max-width: 36%;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 150px;
}

.introSub-Header {
  font-size: 16px;
}

.bourbon-bottle {
  padding-left: 203px;
  padding-top: 93px;
}

.bourbon-bottle img {
  height: 640px;
}

.empty-Tan-Div {
  background-color: #B5A484;
  height: 350px
}

.pour-cup-div {
  width: 50%;
}

.pour-cup-div img {
  width: 100%;
  height: 600px;
}

.center-headline-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
  font-family: 'Open Sans semibold';
  font-size: 16px;
  line-height: 35px;
}

.center-div {
  display: flex;
  background-color: white;
  max-width: 80%;
  margin: auto;
  position: absolute;
  top: 63%;
  left: 325px;
  width: 1270px;
  z-index: 1;
  height: 600px;
}

.article-svg {
  fill: #BD3131;
  height: 25px;
}

.mid-header {
  font-size: 28px;
}

.mid-paragraph {
  width: 400px;
  margin: 0 auto;
}

.article-date {
  font-weight: bold;
}

.main-articles-container {
  background-color: white;
  font-size: 35px;
  font-family: 'Open Sans semibold';
  text-align: center;
  padding-top: 25px;
}

.articles-container {
  background-color: white;
  text-align: center;
  font-family: 'Open Sans Regular';
  font-size: 35px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.article-column {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: #F3F1ED;
  font-size: 16px;
  margin-top: 30px;
  transition: all 0.5s ease-in;
}

.article-column:hover {
  background-color: #1e1e1e;
  color: white;
}

.img-Holder {
  width: 100%;
  height: 400px;
}

.article-imgs {
  width: 100%;
  height: 100%;
}

.bottom-article-section {
  padding: 30px;
  line-height: 30px;
  font-family: 'Open Sans';
}

@media screen and (max-width: 1440px) {
  .center-div {
    position: absolute;
    top: 74%;
    left: 85px;
    max-width: 90%;
  }
  .introText {
    max-width: 37%;
  }
  .main-container {
    width: 1440px;
  }
}